<section class="languages">

    <div class="container text-center">
  
      <h2>
        Multilingual Talent Across Global Markets
      </h2>
  
      <p class="mb-5">
        Access professionals with language expertise to support international operations.
      </p>
  
      <div class="language-wrapper">
  
        <span
          class="language-pill"
          *ngFor="let language of languages"
        >
          {{ language }}
        </span>
  
      </div>
  
    </div>
  
  </section>