<section class="cta">

    <div class="container text-center">
  
      <h2>
        Build Your Global Workforce
        With Confidence
      </h2>
  
      <p>
        Partner with us to hire multilingual professionals,
        remote teams, and specialized talent worldwide.
      </p>
  
      <div class="buttons">
  
        <button class="btn btn-light btn-lg" routerLink="/request-talent">
          Request Talent
        </button>
  
        <button class="btn btn-outline-light btn-lg">
          Contact Us
        </button>
  
      </div>
  
    </div>
  
  </section>