<section class="jobs py-5">
    <div class="container">

        <div class="text-center mb-4">
            <h2 class="fw-bold">Open Opportunities</h2>
            <p class="text-muted">
                Explore our latest openings.
            </p>
        </div>

        <div class="job-card" *ngFor="let job of jobs">

            <div class="job-header">

                <div>
                    <h5>{{ job.title }}</h5>
                    <div class="company">{{ job.company }}</div>
                </div>

                <button
                    class="btn btn-primary apply-btn"
                    routerLink="/apply">
                    Apply
                </button>

            </div>

            <div class="job-meta">
                <span>📍 {{ job.location }}</span>
                <span>💼 {{ job.employment_type }}</span>
                <span>🏆 {{ job.experience }}</span>
            </div>

            <p class="job-description">
                {{ job.description }}
            </p>

        </div>

    </div>
</section>