<nav class="navbar navbar-expand-lg custom-navbar">

  <div class="container-fluid px-5">

      <a class="navbar-brand" routerLink="/">

          <div class="brand-logo">
              LH
          </div>

          <div class="brand-text">

              <div class="title">
                  LinguaHire
              </div>

              <div class="subtitle">
                  Global Talent Solutions
              </div>

          </div>

      </a>

      <button
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbar">

          <span class="navbar-toggler-icon"></span>

      </button>

      <div
          class="collapse navbar-collapse"
          id="navbar">

          <ul class="navbar-nav mx-auto">

              <li class="nav-item">
                  <a routerLink="/" class="nav-link">
                      Home
                  </a>
              </li>

              <li class="nav-item">
                  <a routerLink="/jobs" class="nav-link">
                      Jobs
                  </a>
              </li>

              <li class="nav-item">
                  <a routerLink="/about" class="nav-link">
                      About
                  </a>
              </li>

              <li class="nav-item">
                  <a routerLink="/contact" class="nav-link">
                      Contact
                  </a>
              </li>

          </ul>

          <div class="actions">

              <a
                  routerLink="/jobs"
                  class="btn btn-outline-primary">

                  Find Jobs

              </a>

              <a
                  routerLink="/request-talent"
                  class="btn btn-primary">

                  Hire Talent

              </a>

          </div>

      </div>

  </div>

</nav>