.process {
    padding: 100px 0;
    background: #f8fafc;
  }
  
  .step-card {
    text-align: center;
  }
  
  .number {
    width: 70px;
    height: 70px;
    background: #1e3a8a;
    color: white;
    border-radius: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 22px;
    font-weight: 700;
    margin: auto auto 25px;
  }