<footer>

    <div class="container">
  
      <div class="row">
  
        <div class="col-lg-4">
  
          <h4>
            Global Workforce Solutions
          </h4>
  
          <p>
            Multilingual Staffing &
            Recruitment Solutions
          </p>
  
        </div>
  
        <div class="col-lg-2">
  
          <!-- <h5>Services</h5> -->
  
          <ul>
            <li>Contract Staffing</li>
            <li>Permanent Hiring</li>
            <li>Remote Staffing</li>
            <li>IT Staffing</li>
          </ul>
  
        </div>
  
        <div class="col-lg-2">
  
          <h5>Company</h5>
  
          <ul>
            <li>About</li>
            <li>Jobs</li>
            <li>Contact</li>
          </ul>
  
        </div>
  
        <div class="col-lg-4">
  
          <h5>Contact</h5>
  
          <p>infoglobalworkforce.com</p>
          <p>+91 99999 99999</p>
          <p>LinkedIn</p>
  
        </div>
  
      </div>
  
    </div>
  
  </footer>